USE [DataPLC]
GO
/****** Object:  StoredProcedure [dbo].[GetConfigConnectPlc]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetConfigConnectPlc]
as
begin
	
	SELECT TOP 1 [IpAddress]
      ,[PortNumber]
      ,[NameDeviceTrigerReadCabi]
      ,[NameDeviceDataCabi]
      ,[QuantityDataCabi]
      ,[NameDeviceDataPerson]
      ,[QuantityDataPerson]
      ,[NameDeviceDataReason]
      ,[QuantityDataReason]
      ,[NameDeviceSendResult]
      ,[QuantityDeviceSendResult]
      ,[AliveBit]
      ,[NameDeviceSendConfirm]
      ,[NameDeviceTrigerReadError]
  FROM [DataPLC].[dbo].[ConfigConnectionPlc](nolock)
end
GO
/****** Object:  StoredProcedure [dbo].[GetDataDetail]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetDataDetail] @NameCabi nvarchar(30)
as
begin
	SELECT TOP (1000) 
      [CodeModel]
      ,[Judge]
      ,[VaccumAct]
      ,[VaccumSpec]
      ,[TimePLC] as TimeCheck
	FROM [DataPLC].[dbo].[VP] where CodeModel = @NameCabi order by TimePLC desc
	SELECT TOP (1000) 
      [CodeModel]
      ,[Judge]
      ,[CodeCompressor]
      ,[Temp]
      ,[OIL]
      ,[GAS]
      ,[VaccumGun]
      ,[VaccumCou]
      ,[VaccumRF]
      ,[Mode]
       ,[TimePLC] as TimeCheck
  FROM [DataPLC].[dbo].[GAS] where CodeModel = @NameCabi order by TimePLC desc
  SELECT TOP (1000)
      [CodeModel]
      ,[Judge]
      ,[Volt]
      ,[LL]
      ,[UL]
      ,[Value]
      ,[LLMO]
      ,[ValueMO]
       ,[TimePLC] as TimeCheck
  FROM [DataPLC].[dbo].[WI1WITH] where CodeModel = @NameCabi order by TimePLC desc
  SELECT TOP (1000) 
      [CodeModel]
      ,[Judge]
      ,[Volt]
      ,[LL]
      ,[UL]
      ,[Value]
       ,[TimePLC] as TimeCheck
  FROM [DataPLC].[dbo].[WI1START] where CodeModel = @NameCabi order by TimePLC desc
  SELECT TOP (1000)
      [CodeModel]
      ,[Judge]
      ,[Volt]
      ,[LL]
      ,[UL]
      ,[Value]
      ,[CurrentmA]
      ,[U]
      ,[Progname]
      ,[TimePLC] as TimeCheck
  FROM [DataPLC].[dbo].[IP] where CodeModel = @NameCabi order by TimePLC desc
  SELECT TOP (1000) 
      [CodeModel]
      ,[Judge]
      ,[Volt]
      ,[LL]
      ,[UL]
      ,[Value]
      ,[CurrentmA]
      ,[U]
      ,[Progname]
      ,[TimePLC] as TimeCheck
  FROM [DataPLC].[dbo].[DF] where CodeModel = @NameCabi order by TimePLC desc
  SELECT TOP (1000) 
      [CodeModel]
      ,[Judge]
      ,[NamePoint1]
      ,[Standard1]
      ,[Actual1]
      ,[Result1]
      ,[NamePoint2]
      ,[Standard2]
      ,[Actual2]
      ,[Result2]
      ,[NamePoint3]
      ,[Standard3]
      ,[Actual3]
      ,[Result3]
      ,[NamePoint4]
      ,[Standard4]
      ,[Actual4]
      ,[Result4]
      ,[NamePoint5]
      ,[Standard5]
      ,[Actual5]
      ,[Result5]
      ,[NamePoint6]
      ,[Standard6]
      ,[Actual6]
      ,[Result6]
      ,[NamePoint7]
      ,[Standard7]
      ,[Actual7]
      ,[Result7]
      ,[NamePoint8]
      ,[Standard8]
      ,[Actual8]
      ,[Result8]
      ,[NamePoint9]
      ,[Standard9]
      ,[Actual9]
      ,[Result9]
      ,[NamePoint10]
      ,[Standard10]
      ,[Actual10]
      ,[Result10]
      ,[NamePoint11]
      ,[Standard11]
      ,[Actual11]
      ,[Result11]
      ,[NamePoint12]
      ,[Standard12]
      ,[Actual12]
      ,[Result12]
      ,[NamePoint13]
      ,[Standard13]
      ,[Actual13]
      ,[Result13]
      ,[NamePoint14]
      ,[Standard14]
      ,[Actual14]
      ,[Result14]
      ,[NamePoint15]
      ,[Standard15]
      ,[Actual15]
      ,[Result15]
      ,[TimePLC] as TimeCheck
  FROM [DataPLC].[dbo].[TempDetail] where CodeModel = @NameCabi order by TimePLC desc
  SELECT TOP (1000) 
      [CodeModel]
      ,[Judge]
      ,[QRCode]
      ,[Seed]
      ,[MacAddress]
      ,[CurrentFirm]
      ,[RSSI]
      ,[InspectionTime]
      ,[NG_STEP]
      ,[PassKey]
      ,[BTMacAddress]
      ,[CertSN]
      ,[ExtFid]
      ,[Vendor]
      ,[TimePLC] as TimeCheck
  FROM [DataPLC].[dbo].[IOT] where CodeModel = @NameCabi order by TimePLC desc
  SELECT TOP (1000) 
      [CodeModel]
      ,[Judge]
      ,[Volt]
      ,[LL]
      ,[UL]
      ,[Value]
      ,[LLom]
      ,[Valueom]
      ,[Progname]
       ,[TimePLC] as TimeCheck
  FROM [DataPLC].[dbo].[WI2] where CodeModel = @NameCabi order by TimePLC desc
  SELECT TOP (1000) 
      [CodeModel]
      ,[Judge]
      ,[CodePCB]
      ,[CodeMarket]
      ,[CodePan]
      ,[No]
     ,[TimePLC] as TimeCheck
  FROM [DataPLC].[dbo].[PAN] where CodeModel = @NameCabi order by TimePLC desc
  SELECT TOP (1000) 
      [CodeModel]
      ,[Judge]
      ,[VitSidePhai]
      ,[VitSideTrai]
      ,[Hookpan]
      ,[PWE]
      ,[VitPWE]
      ,[InPadComp]
      ,[ClampPipe]
      ,[VitClampPipe]
      ,[BoxPCB]
      ,[VitBoxPCB]
      ,[ChotComp]
      ,[BanhXePhai]
      ,[BanhXeTrai]
      ,[CapPipe]
      ,[RubberPipe]
      ,[InsPadComp]
      ,[DayNoiDat]
      ,[VitDayNoiDatSidePhai]
      ,[WiringDiagram]
      ,[CoverComp]
      ,[VitCoverComp]
      ,[Hanger]
      ,[TimePLC] as TimeCheck
  FROM [DataPLC].[dbo].[CamBack] where CodeModel = @NameCabi order by TimePLC desc
  SELECT TOP (1000)
      [CodeModel]
      ,[Judge]
      ,[Econavi]
      ,[LogoPana]
      ,[Japanquality]
      ,[Warranty]
      ,[POPFC]
      ,[POPPC]
      ,[EnergyLabel]
      ,[PanelDoorFC]
      ,[PanelDoorPC]
      ,[WDLabel]
      ,[WD]
      ,[DoorControl]
      ,[_1ST]
      ,[Handle]
      ,[POPPCBottom]
      ,[Wellness]
      ,[ADVISORYLabel]
      ,[EnvironmentLabel]
      ,[POPBC]
      ,[CoverHingeTop]
      ,[FoamProtectorDoor]
      ,[TimePLC] as TimeCheck
  FROM [DataPLC].[dbo].[CamFront]  where CodeModel = @NameCabi order by TimePLC desc
end
GO
/****** Object:  StoredProcedure [dbo].[GetJudgeAllLine]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetJudgeAllLine] @CodeModel nvarchar(30) --GetJudgeAllLine 'NR-B271TV-S13Y00660'
as

begin
declare @rsVP nvarchar(2)
declare @rsGAS nvarchar(2)
declare @rsWI1START nvarchar(2)
declare @rsWI1WITH nvarchar(2)
declare @rsIP nvarchar(2)
declare @rsDF nvarchar(2)
declare @rsPAN nvarchar(2)
declare @rsWI2 nvarchar(2)
declare @rsIOT nvarchar(2)
declare @rsTemp nvarchar(2)
declare @rsCAMBack nvarchar(2)
declare @rsCAMFront nvarchar(2)

declare @rsTotal nvarchar(2)


select top 1 @rsVP = Judge from VP(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsGAS = Judge from GAS(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsWI1START = Judge from WI1START(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsWI1WITH = Judge from WI1WITH(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsIP = Judge from IP(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsDF = Judge from DF(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsPAN = Judge from PAN(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsWI2 = Judge from WI2(nolock) where CodeModel = @CodeModel order by TimePLC desc

select top 1 @rsIOT = Judge from IOT(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsTemp = Judge from TempResult(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsCAMBack = Judge from CamBack(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsCAMFront = Judge from CamFront(nolock) where CodeModel = @CodeModel order by TimePLC desc

if(UPPER(@rsVP) = 'OK' and UPPER(@rsGAS) = 'OK' and UPPER(@rsWI1START) = 'OK' and UPPER(@rsIP) = 'OK' and UPPER(@rsDF) = 'OK' and UPPER(@rsWI1WITH) = 'OK' and UPPER(@rsPAN) = 'OK' and UPPER(@rsWI2) = 'OK'
and UPPER(@rsIOT) = 'OK' and UPPER(@rsTemp) = 'OK' and UPPER(@rsCAMBack) = 'OK' and UPPER(@rsCAMFront) = 'OK')

begin
	set @rsTotal = 'OK'
end
else
begin
	set @rsTotal = 'NG'
end


select @rsVP as JudgeVP,@rsGAS as JudgeGAS,@rsWI1START as JudgeWI1START,@rsWI1WITH as JudgeWI1WITH,@rsIP as JudgeIP,
@rsDF as JudgeDF,@rsTemp as JudgeTEMP,@rsIOT as JudgeIOT ,@rsPAN as JudgePAN,@rsWI2 as JudgeWI2,@rsCAMBack as JudgeCAMBACK,@rsCAMFront as JudgeCAMFRONT,
 @rsTotal as JudgeTotal

end
GO
/****** Object:  StoredProcedure [dbo].[GetJudgeAllLineDetail]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetJudgeAllLineDetail] @CodeModel nvarchar(30) --GetJudgeAllLine 'NR-B271TV-S13Y00660'
as

begin
declare @rsVP nvarchar(2)
declare @rsGAS nvarchar(2)
declare @rsWI1START nvarchar(2)
declare @rsWI1WITH nvarchar(2)
declare @rsIP nvarchar(2)
declare @rsDF nvarchar(2)
declare @rsPAN nvarchar(2)
declare @rsWI2 nvarchar(2)
declare @rsIOT nvarchar(2)
declare @rsTemp nvarchar(2)
declare @rsCAMBack nvarchar(2)
declare @rsCAMFront nvarchar(2)

declare @rsTotal nvarchar(2)

declare @Reason nvarchar(100)
declare @UserConfirm nvarchar(50)


select top 1 @rsVP = Judge from VP(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsGAS = Judge from GAS(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsWI1START = Judge from WI1START(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsWI1WITH = Judge from WI1WITH(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsIP = Judge from IP(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsDF = Judge from DF(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsPAN = Judge from PAN(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsWI2 = Judge from WI2(nolock) where CodeModel = @CodeModel order by TimePLC desc

select top 1 @rsIOT = Judge from IOT(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsTemp = Judge from TempResult(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsCAMBack = Judge from CamBack(nolock) where CodeModel = @CodeModel order by TimePLC desc
select top 1 @rsCAMFront = Judge from CamFront(nolock) where CodeModel = @CodeModel order by TimePLC desc

select top 1 @Reason = ReasonError,  @UserConfirm = PersonConfirm from [dbo].[DataCheckFinal](nolock) where CodeModel = @CodeModel order by TimeUpdate desc

if(UPPER(@rsVP) = 'OK' and UPPER(@rsGAS) = 'OK' and UPPER(@rsWI1START) = 'OK' and UPPER(@rsIP) = 'OK' and UPPER(@rsDF) = 'OK' and UPPER(@rsWI1WITH) = 'OK' and UPPER(@rsPAN) = 'OK' and UPPER(@rsWI2) = 'OK'
and UPPER(@rsIOT) = 'OK' and UPPER(@rsTemp) = 'OK' and UPPER(@rsCAMBack) = 'OK' and UPPER(@rsCAMFront) = 'OK')

begin
	set @rsTotal = 'OK'
end
else
begin
	set @rsTotal = 'NG'
end


select @rsVP as JudgeVP,@rsGAS as JudgeGAS,@rsWI1START as JudgeWI1START,@rsWI1WITH as JudgeWI1WITH,@rsIP as JudgeIP,
@rsDF as JudgeDF,@rsTemp as JudgeTEMP,@rsIOT as JudgeIOT ,@rsPAN as JudgePAN,@rsWI2 as JudgeWI2,@rsCAMBack as JudgeCAMBACK,@rsCAMFront as JudgeCAMFRONT,
 @rsTotal as JudgeTotal,@Reason as ReasonError,@UserConfirm as UserConfirm

end
GO
/****** Object:  StoredProcedure [dbo].[InsertDataFinalCheck]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertDataFinalCheck]
	@CodeModel nvarchar(30),
	@Judge_VP varchar(8),
	@Judge_GAS varchar(8),
	@Judge_WI1WITH varchar(8),
	@Judge_WI1START varchar(8),
	@Judge_IP varchar(8),
	@Judge_DF varchar(8),
	@Judge_TEMP varchar(8),
	@Judge_IOT varchar(8),
	@Judge_WI2 varchar(8),
	@Judge_PAN varchar(8),
	@Judge_CAMBACK varchar(8),
	@Judge_CAMFRONT varchar(8),
	@Judge_Total varchar(8),
	@ReasonError nvarchar(100),
	@PersonConfirm nvarchar(50)
as
begin

INSERT INTO [dbo].[DataCheckFinal]
           ([CodeModel]
           ,[Judge_VP]
           ,[Judge_GAS]
           ,[Judge_WI1WITH]
           ,[Judge_WI1START]
           ,[Judge_IP]
           ,[Judge_DF]
           ,[Judge_TEMP]
           ,[Judge_IOT]
           ,[Judge_WI2]
           ,[Judge_PAN]
           ,[Judge_CAMBACK]
           ,[Judge_CAMFRONT]
           ,[Judge_Total]
           ,[ReasonError]
           ,[PersonConfirm]
           )
     VALUES
           (
		   @CodeModel ,
		@Judge_VP ,
	@Judge_GAS ,
	@Judge_WI1WITH ,
	@Judge_WI1START ,
	@Judge_IP ,
	@Judge_DF ,
	@Judge_TEMP ,
	@Judge_IOT ,
	@Judge_WI2 ,
	@Judge_PAN ,
	@Judge_CAMBACK ,
	@Judge_CAMFRONT ,
	@Judge_Total ,
	@ReasonError ,
	@PersonConfirm
		  
           )

end
GO
/****** Object:  StoredProcedure [dbo].[LoadDataForChart]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[LoadDataForChart]
as

begin
	SELECT
    COUNT(CASE WHEN Judge_VP = 'OK' THEN 1 END) as VPOK,
    COUNT(CASE WHEN Judge_GAS = 'OK' THEN 1 END) as GASOILOK,
    COUNT(CASE WHEN Judge_WI1WITH = 'OK' THEN 1 END) as WI1WITHOK,
    COUNT(CASE WHEN Judge_WI1START = 'OK' THEN 1 END) as WI1STARTOK,
    COUNT(CASE WHEN Judge_IP = 'OK' THEN 1 END) as IPOK,
    COUNT(CASE WHEN Judge_DF = 'OK' THEN 1 END) as DFOK,
    COUNT(CASE WHEN Judge_TEMP = 'OK' THEN 1 END) as TEMPOK,
    COUNT(CASE WHEN Judge_IOT = 'OK' THEN 1 END) as IOTOK,
    COUNT(CASE WHEN Judge_WI2 = 'OK' THEN 1 END) as WI2OK,
	COUNT(CASE WHEN Judge_PAN = 'OK' THEN 1 END) as PANOK,
	COUNT(CASE WHEN Judge_CAMBACK = 'OK' THEN 1 END) as CAMBACKOK,
	COUNT(CASE WHEN Judge_CAMFRONT = 'OK' THEN 1 END) as CAMFRONTOK,

	COUNT(CASE WHEN Judge_VP = 'NG' THEN 1 END) as VPNG,
    COUNT(CASE WHEN Judge_GAS = 'NG' THEN 1 END) as GASOILNG,
    COUNT(CASE WHEN Judge_WI1WITH = 'NG' THEN 1 END) as WI1WITHNG,
    COUNT(CASE WHEN Judge_WI1START = 'NG' THEN 1 END) as WI1STARTNG,
    COUNT(CASE WHEN Judge_IP = 'NG' THEN 1 END) as IPNG,
    COUNT(CASE WHEN Judge_DF = 'NG' THEN 1 END) as DFNG,
    COUNT(CASE WHEN Judge_TEMP = 'NG' THEN 1 END) as TEMPNG,
    COUNT(CASE WHEN Judge_IOT = 'NG' THEN 1 END) as IOTNG,
    COUNT(CASE WHEN Judge_WI2 = 'NG' THEN 1 END) as WI2NG,
	COUNT(CASE WHEN Judge_PAN = 'NG' THEN 1 END) as PANNG,
	COUNT(CASE WHEN Judge_CAMBACK = 'NG' THEN 1 END) as CAMBACKNG,
	COUNT(CASE WHEN Judge_CAMFRONT = 'NG' THEN 1 END) as CAMFRONTNG,

	COUNT(CASE WHEN Judge_VP = 'PD' THEN 1 END) as VPPENDING,
    COUNT(CASE WHEN Judge_GAS = 'PD' THEN 1 END) as GASOILPENDING,
    COUNT(CASE WHEN Judge_WI1WITH = 'PD' THEN 1 END) as WI1WITHPENDING,
    COUNT(CASE WHEN Judge_WI1START = 'PD' THEN 1 END) as WI1STARTPENDING,
    COUNT(CASE WHEN Judge_IP = 'PD' THEN 1 END) as IPPENDING,
    COUNT(CASE WHEN Judge_DF = 'PD' THEN 1 END) as DFPENDING,
    COUNT(CASE WHEN Judge_TEMP = 'PD' THEN 1 END) as TEMPPENDING,
    COUNT(CASE WHEN Judge_IOT = 'PD' THEN 1 END) as IOTPENDING,
    COUNT(CASE WHEN Judge_WI2 = 'PD' THEN 1 END) as WI2PENDING,
	COUNT(CASE WHEN Judge_PAN = 'PD' THEN 1 END) as PANPENDING,
	COUNT(CASE WHEN Judge_CAMBACK = 'PD' THEN 1 END) as CAMBACKPENDING,
	COUNT(CASE WHEN Judge_CAMFRONT = 'PD' THEN 1 END) as CAMFRONTPENDING,

	COUNT(CASE WHEN Judge_Total = 'OK' THEN 1 END) as TotalOK,
	COUNT(CASE WHEN Judge_Total = 'NG' THEN 1 END) as TotalNG

	FROM [DataPLC].[dbo].[DataCheckFinal](nolock)
	
	
end
GO
/****** Object:  StoredProcedure [dbo].[LoadDataForTableHistory]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[LoadDataForTableHistory]
as

begin
	SELECT TOP 50 [CodeModel] 
      
      ,[Judge_Total] 
     
      ,[TimeUpdate]
  FROM [DataPLC].[dbo].[DataCheckFinal](nolock)
end
GO
/****** Object:  StoredProcedure [dbo].[LoadDataForTableHistoryTrace]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[LoadDataForTableHistoryTrace]  --LoadDataForTableHistoryTrace '','','NR-B171TV-S13Y00640'
@datetimefrom nvarchar(30),
@datetimeto nvarchar(30),
@namecabi nvarchar(30)
as

begin
	if(LEN(@datetimefrom) > 5 and LEN(@datetimeto)> 5 and Len(@namecabi) >=19)
	begin
		SELECT  [CodeModel] 
      
      ,[Judge_Total] 
     
      ,[TimeUpdate]
		 FROM [DataPLC].[dbo].[DataCheckFinal](nolock) where CodeModel = @namecabi and TimeUpdate between CONVERT(datetime,@datetimefrom,120) and CONVERT(datetime,@datetimeto,120)
	end
	else if(LEN(@datetimefrom) > 5 and LEN(@datetimeto)> 5)
	begin
	SELECT  [CodeModel] 
      
      ,[Judge_Total] 
     
      ,[TimeUpdate]
		 FROM [DataPLC].[dbo].[DataCheckFinal](nolock) where  TimeUpdate between CONVERT(datetime,@datetimefrom,120) and CONVERT(datetime,@datetimeto,120)
	 end
	 else if(LEN(@namecabi) >=19)
	 begin
		SELECT  [CodeModel] 
      
      ,[Judge_Total] 
     
      ,[TimeUpdate]
		 FROM [DataPLC].[dbo].[DataCheckFinal](nolock) where CodeModel = @namecabi 
	 end
	
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateConfigConnectPlc]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[UpdateConfigConnectPlc]
		@IpAddress nvarchar(30),
       @PortNumber int,
       @NameDeviceTrigerReadCabi int,
       @NameDeviceDataCabi int,
     
       @NameDeviceDataPerson int,
     
      @NameDeviceDataReason int,
      
      @NameDeviceSendResult int,
     
       @AliveBit int,
       @NameDeviceSendConfirm int,
       @NameDeviceTrigerReadError int
as
begin
	UPDATE [dbo].[ConfigConnectionPlc]
   SET [IpAddress] = @IpAddress
      ,[PortNumber] =  @PortNumber
      ,[NameDeviceTrigerReadCabi] = @NameDeviceTrigerReadCabi
      ,[NameDeviceDataCabi] =  @NameDeviceDataCabi 
     
      ,[NameDeviceDataPerson] =  @NameDeviceDataPerson 
     
      ,[NameDeviceDataReason] =   @NameDeviceDataReason 
      
      ,[NameDeviceSendResult] =  @NameDeviceSendResult 
     
      ,[AliveBit] =  @AliveBit 
      ,[NameDeviceSendConfirm] =  @NameDeviceSendConfirm 
      ,[NameDeviceTrigerReadError] =  @NameDeviceTrigerReadError
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateDataFinalCheck]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[UpdateDataFinalCheck]
	@CodeModel nvarchar(30),
	@ReasonError nvarchar(100),
	@PersonConfirm nvarchar(50)
as
begin

	Update [dbo].[DataCheckFinal] set ReasonError = @ReasonError, PersonConfirm = @PersonConfirm where CodeModel = @CodeModel

end
GO
/****** Object:  Table [dbo].[CamBack]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CamBack](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[VitSidePhai] [nvarchar](10) NULL,
	[VitSideTrai] [nvarchar](10) NULL,
	[Hookpan] [nvarchar](10) NULL,
	[PWE] [nvarchar](10) NULL,
	[VitPWE] [nvarchar](10) NULL,
	[InPadComp] [nvarchar](10) NULL,
	[ClampPipe] [nvarchar](10) NULL,
	[VitClampPipe] [nvarchar](10) NULL,
	[BoxPCB] [nvarchar](10) NULL,
	[VitBoxPCB] [nvarchar](10) NULL,
	[ChotComp] [nvarchar](10) NULL,
	[BanhXePhai] [nvarchar](10) NULL,
	[BanhXeTrai] [nvarchar](10) NULL,
	[CapPipe] [nvarchar](10) NULL,
	[RubberPipe] [nvarchar](10) NULL,
	[InsPadComp] [nvarchar](10) NULL,
	[DayNoiDat] [nvarchar](10) NULL,
	[VitDayNoiDatSidePhai] [nvarchar](10) NULL,
	[WiringDiagram] [nvarchar](10) NULL,
	[CoverComp] [nvarchar](10) NULL,
	[VitCoverComp] [nvarchar](10) NULL,
	[Hanger] [nvarchar](10) NULL,
	[TimeInsert] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CamFront]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CamFront](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[Econavi] [nvarchar](10) NULL,
	[LogoPana] [nvarchar](10) NULL,
	[Japanquality] [nvarchar](10) NULL,
	[Warranty] [nvarchar](10) NULL,
	[POPFC] [nvarchar](10) NULL,
	[POPPC] [nvarchar](10) NULL,
	[EnergyLabel] [nvarchar](10) NULL,
	[PanelDoorFC] [nvarchar](10) NULL,
	[PanelDoorPC] [nvarchar](10) NULL,
	[WDLabel] [nvarchar](10) NULL,
	[WD] [nvarchar](10) NULL,
	[DoorControl] [nvarchar](10) NULL,
	[_1ST] [nvarchar](10) NULL,
	[Handle] [nvarchar](10) NULL,
	[POPPCBottom] [nvarchar](10) NULL,
	[Wellness] [nvarchar](10) NULL,
	[ADVISORYLabel] [nvarchar](10) NULL,
	[EnvironmentLabel] [nvarchar](10) NULL,
	[POPBC] [nvarchar](10) NULL,
	[CoverHingeTop] [nvarchar](10) NULL,
	[FoamProtectorDoor] [nvarchar](10) NULL,
	[TimeInsert] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ConfigConnectionPlc]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigConnectionPlc](
	[IpAddress] [nvarchar](30) NULL,
	[PortNumber] [int] NULL,
	[NameDeviceTrigerReadCabi] [int] NULL,
	[NameDeviceDataCabi] [int] NULL,
	[QuantityDataCabi] [int] NULL,
	[NameDeviceDataPerson] [int] NULL,
	[QuantityDataPerson] [int] NULL,
	[NameDeviceDataReason] [int] NULL,
	[QuantityDataReason] [int] NULL,
	[NameDeviceSendResult] [int] NULL,
	[QuantityDeviceSendResult] [int] NULL,
	[AliveBit] [int] NULL,
	[NameDeviceSendConfirm] [int] NULL,
	[NameDeviceTrigerReadError] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DataCheckFinal]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DataCheckFinal](
	[CodeModel] [nvarchar](30) NULL,
	[Judge_VP] [varchar](8) NULL,
	[Judge_GAS] [varchar](8) NULL,
	[Judge_WI1WITH] [varchar](8) NULL,
	[Judge_WI1START] [varchar](8) NULL,
	[Judge_IP] [varchar](8) NULL,
	[Judge_DF] [varchar](8) NULL,
	[Judge_TEMP] [varchar](8) NULL,
	[Judge_IOT] [varchar](8) NULL,
	[Judge_WI2] [varchar](8) NULL,
	[Judge_PAN] [varchar](8) NULL,
	[Judge_CAMBACK] [varchar](8) NULL,
	[Judge_CAMFRONT] [varchar](8) NULL,
	[Judge_Total] [varchar](8) NULL,
	[ReasonError] [nvarchar](100) NULL,
	[PersonConfirm] [nvarchar](50) NULL,
	[TimeUpdate] [datetime] NULL DEFAULT (getdate())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DF]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DF](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[Volt] [nvarchar](10) NULL,
	[LL] [nvarchar](10) NULL,
	[UL] [nvarchar](10) NULL,
	[Value] [nvarchar](10) NULL,
	[CurrentmA] [nvarchar](10) NULL,
	[U] [nvarchar](10) NULL,
	[Progname] [nvarchar](10) NULL,
	[TimeInsert] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GAS]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAS](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[CodeCompressor] [nvarchar](50) NULL,
	[Temp] [nvarchar](10) NULL,
	[OIL] [nvarchar](10) NULL,
	[GAS] [nvarchar](10) NULL,
	[VaccumGun] [nvarchar](10) NULL,
	[VaccumCou] [nvarchar](10) NULL,
	[VaccumRF] [nvarchar](10) NULL,
	[Mode] [nvarchar](10) NULL,
	[TimeInsert] [datetime] NULL CONSTRAINT [DF_GAS_TimeInsert]  DEFAULT (getdate())
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IOT]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IOT](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[QRCode] [nvarchar](100) NULL,
	[Seed] [nvarchar](50) NULL,
	[MacAddress] [nvarchar](50) NULL,
	[CurrentFirm] [nvarchar](50) NULL,
	[RSSI] [nvarchar](50) NULL,
	[InspectionTime] [nvarchar](50) NULL,
	[NG_STEP] [nvarchar](50) NULL,
	[PassKey] [nvarchar](50) NULL,
	[BTMacAddress] [nvarchar](50) NULL,
	[CertSN] [nvarchar](50) NULL,
	[ExtFid] [nvarchar](50) NULL,
	[Vendor] [nvarchar](50) NULL,
	[TimeInsert] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IP]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IP](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[Volt] [nvarchar](10) NULL,
	[LL] [nvarchar](10) NULL,
	[UL] [nvarchar](10) NULL,
	[Value] [nvarchar](10) NULL,
	[CurrentmA] [nvarchar](10) NULL,
	[U] [nvarchar](10) NULL,
	[Progname] [nvarchar](10) NULL,
	[TimeInsert] [datetime] NULL CONSTRAINT [DF_IP_TimeInsert]  DEFAULT (getdate())
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAN]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAN](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[CodePCB] [nvarchar](100) NULL,
	[CodeMarket] [nvarchar](30) NULL,
	[CodePan] [nvarchar](100) NULL,
	[No] [nvarchar](10) NULL,
	[TimeInsert] [datetime] NULL CONSTRAINT [DF_PAN_TimeInsert]  DEFAULT (getdate())
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TempDetail]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempDetail](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[NamePoint1] [nvarchar](30) NULL,
	[Standard1] [nvarchar](20) NULL,
	[Actual1] [nvarchar](20) NULL,
	[Result1] [nvarchar](10) NULL,
	[NamePoint2] [nvarchar](30) NULL,
	[Standard2] [nvarchar](20) NULL,
	[Actual2] [nvarchar](20) NULL,
	[Result2] [nvarchar](10) NULL,
	[NamePoint3] [nvarchar](30) NULL,
	[Standard3] [nvarchar](20) NULL,
	[Actual3] [nvarchar](20) NULL,
	[Result3] [nvarchar](10) NULL,
	[NamePoint4] [nvarchar](30) NULL,
	[Standard4] [nvarchar](20) NULL,
	[Actual4] [nvarchar](20) NULL,
	[Result4] [nvarchar](10) NULL,
	[NamePoint5] [nvarchar](30) NULL,
	[Standard5] [nvarchar](20) NULL,
	[Actual5] [nvarchar](20) NULL,
	[Result5] [nvarchar](10) NULL,
	[NamePoint6] [nvarchar](30) NULL,
	[Standard6] [nvarchar](20) NULL,
	[Actual6] [nvarchar](20) NULL,
	[Result6] [nvarchar](10) NULL,
	[NamePoint7] [nvarchar](30) NULL,
	[Standard7] [nvarchar](20) NULL,
	[Actual7] [nvarchar](20) NULL,
	[Result7] [nvarchar](10) NULL,
	[NamePoint8] [nvarchar](30) NULL,
	[Standard8] [nvarchar](20) NULL,
	[Actual8] [nvarchar](20) NULL,
	[Result8] [nvarchar](10) NULL,
	[NamePoint9] [nvarchar](30) NULL,
	[Standard9] [nvarchar](20) NULL,
	[Actual9] [nvarchar](20) NULL,
	[Result9] [nvarchar](10) NULL,
	[NamePoint10] [nvarchar](30) NULL,
	[Standard10] [nvarchar](20) NULL,
	[Actual10] [nvarchar](20) NULL,
	[Result10] [nvarchar](10) NULL,
	[NamePoint11] [nvarchar](30) NULL,
	[Standard11] [nvarchar](20) NULL,
	[Actual11] [nvarchar](20) NULL,
	[Result11] [nvarchar](10) NULL,
	[NamePoint12] [nvarchar](30) NULL,
	[Standard12] [nvarchar](20) NULL,
	[Actual12] [nvarchar](20) NULL,
	[Result12] [nvarchar](10) NULL,
	[NamePoint13] [nvarchar](30) NULL,
	[Standard13] [nvarchar](20) NULL,
	[Actual13] [nvarchar](20) NULL,
	[Result13] [nvarchar](10) NULL,
	[NamePoint14] [nvarchar](30) NULL,
	[Standard14] [nvarchar](20) NULL,
	[Actual14] [nvarchar](20) NULL,
	[Result14] [nvarchar](10) NULL,
	[NamePoint15] [nvarchar](30) NULL,
	[Standard15] [nvarchar](20) NULL,
	[Actual15] [nvarchar](20) NULL,
	[Result15] [nvarchar](10) NULL,
	[TimeInsert] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TempResult]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempResult](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[TimeInsert] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VP]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VP](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[VaccumAct] [nvarchar](50) NULL,
	[VaccumSpec] [nvarchar](50) NULL,
	[TimeInsert] [datetime] NULL CONSTRAINT [DF_VP_TimeInsert]  DEFAULT (getdate())
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WI1START]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WI1START](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[Volt] [nvarchar](10) NULL,
	[LL] [nvarchar](10) NULL,
	[UL] [nvarchar](10) NULL,
	[Value] [nvarchar](10) NULL,
	[TimeInsert] [datetime] NULL CONSTRAINT [DF_WI1START_TimeInsert]  DEFAULT (getdate())
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WI1WITH]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WI1WITH](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[Volt] [nvarchar](10) NULL,
	[LL] [nvarchar](10) NULL,
	[UL] [nvarchar](10) NULL,
	[Value] [nvarchar](10) NULL,
	[LLMO] [nvarchar](10) NULL,
	[ValueMO] [nvarchar](10) NULL,
	[TimeInsert] [datetime] NULL CONSTRAINT [DF_WI1WITH_TimeInsert]  DEFAULT (getdate())
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WI2]    Script Date: 2023/12/07 12:04:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WI2](
	[TimePLC] [datetime] NULL,
	[CodeModel] [nvarchar](30) NULL,
	[Judge] [nvarchar](10) NULL,
	[Volt] [nvarchar](10) NULL,
	[LL] [nvarchar](10) NULL,
	[UL] [nvarchar](10) NULL,
	[Value] [nvarchar](10) NULL,
	[LLom] [nvarchar](10) NULL,
	[Valueom] [nvarchar](10) NULL,
	[Progname] [nvarchar](10) NULL,
	[TimeInsert] [datetime] NULL CONSTRAINT [DF_WI2_TimeInsert]  DEFAULT (getdate())
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CamBack] ADD  DEFAULT (getdate()) FOR [TimeInsert]
GO
ALTER TABLE [dbo].[CamFront] ADD  DEFAULT (getdate()) FOR [TimeInsert]
GO
ALTER TABLE [dbo].[DF] ADD  CONSTRAINT [DF_DF_TimeInsert]  DEFAULT (getdate()) FOR [TimeInsert]
GO
ALTER TABLE [dbo].[TempDetail] ADD  DEFAULT (getdate()) FOR [TimeInsert]
GO
ALTER TABLE [dbo].[TempResult] ADD  DEFAULT (getdate()) FOR [TimeInsert]
GO
